<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand px-2 py-0 text-dark font-weight-bold" href="#">Expense</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" ng-if="globals.currentUser">
            <li class="nav-item" ng-class="{active: (currentPage == 'home')}">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item" ng-class="{active: (currentPage == 'list')}">
                <a class="nav-link" href="/list">Expenses</a>
            </li>
        </ul>
    </div>
    <div class="btn-group" ng-if="globals.currentUser">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle" aria-hidden="true"></i> {{globals.currentUser.email}}
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">My Profile</a>
            <a class="dropdown-item" href="#">About Expense</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" ng-click="logout()">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a>
        </div>
    </div>
    <button ng-if="!globals.currentUser" class="btn btn-sm btn-light" ng-click="login()">Login</button>
</nav>